.img{
    width: 150px;
    height: 150px;
    border: 1px  solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: 50px;
}

.content{
    /* margin-left: 230px; */
    display: flex;
    align-items: center;
    gap: 2rem;
    
}


.container2{
    margin-left: 300px;
}

.font{
    font-size: 20px;
}

.but{
    margin-top: 30px;
}

.text{
     margin-top: 75px;
}

.contract{
    text-align: center;
}




 .list1{
    background-color: rgb(243, 243, 243);
    margin: 15px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    margin-top: 550px;
} 
.sar{
    display: flex;
    justify-content: center;
}
.p{
    display: flex;
    justify-content: center;
}
.list2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 300px;
    margin-bottom: 200px;
}

